.image {
  margin-top: 50px;
  margin-left: 24px;
}

.paragraph {
  margin-top: -140px;
  margin-right: 50px;
  margin-left: 173px;
}

.paragraph-2 {
  margin: 90px 50px 50px;
}

.image-2 {
  margin-right: 50px;
  margin-left: 50px;
}

.paragraph-3 {
  margin: 50px;
}